@font-face {
  font-family: "Avenir Next LT Pro Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("avenir-next-lt-pro-regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("avenir-next-lt-pro-bold.otf") format("opentype");
}

@font-face {
  font-family: "Kalam";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("kalam-bold.ttf") format("truetype");
}
